In [1]:
import pandas as pd
# Display all rows
pd.set_option('display.max_rows', None)

# Display all columns
pd.set_option('display.max_columns', None)

# Show the full width of the content
pd.set_option('display.width', None)

In [28]:
Gradient = pd.read_csv("../Data/GradientBoosting.csv")
RandomForest = pd.read_csv("../Data/RandomForest.csv")
KNeighbors = pd.read_csv("../Data/KNeighbors.csv")
Actual = pd.read_csv("../Data/AdultCensusUpdated.csv")

In [30]:
Gradient.columns

Index(['index', 'age', 'workclass', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'sex', 'hours_per_week', 'income',
       'state', 'Results', 'Model'],
      dtype='object')

In [32]:
KNeighbors.columns

Index(['Unnamed: 0', 'age', 'workclass', 'fnlwgt', 'education',
       'education.num', 'marital.status', 'occupation', 'relationship', 'race',
       'sex', 'capital.gain', 'capital.loss', 'hours.per.week',
       'native.country', 'income', 'State', 'Results', 'Model'],
      dtype='object')

In [34]:
RandomForest['Results'] = RandomForest['Results'].replace({'>50K': 1, '<=50K': 0})
Gradient['Results'] = Gradient['Results'].replace({'>50K': 1, '<=50K': 0})

C:\Users\marti\AppData\Local\Temp\ipykernel_16220\2310900692.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  RandomForest['Results'] = RandomForest['Results'].replace({'>50K': 1, '<=50K': 0})
C:\Users\marti\AppData\Local\Temp\ipykernel_16220\2310900692.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  Gradient['Results'] = Gradient['Results'].replace({'>50K': 1, '<=50K': 0})

In [36]:
KNeighbors = KNeighbors.drop(columns= ["fnlwgt", "education", "capital.gain", "capital.loss", "native.country"])
KNeighbors.columns = ['index', 'age', 'workclass', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'sex', 'hours_per_week', 'income',
       'state', 'Results', 'Model']

In [38]:
Actual.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'income', 'State'],
      dtype='object')

In [40]:
# Combine the dataframes row-wise
combined_df = pd.concat([Gradient, RandomForest, KNeighbors], ignore_index=True)

In [42]:
X = len(Actual)
null_values = []
model = []
for y in range(len(Actual)):
    null_values.append("N/A")
    model.append("Actual")
Actual["index"] = null_values
Actual["Results"] = null_values
Actual["Model"] = model

In [44]:
Actual = Actual.drop(columns= ["fnlwgt", "education", "capital.gain", "capital.loss", "native.country"])
Actual.columns

Index(['age', 'workclass', 'education.num', 'marital.status', 'occupation',
       'relationship', 'race', 'sex', 'hours.per.week', 'income', 'State',
       'index', 'Results', 'Model'],
      dtype='object')

In [51]:
# Reorder df2 columns manually
desired_columns = ['index', 'age', 'workclass', 'education.num', 'marital.status',
       'occupation', 'relationship', 'race', 'sex', 'hours.per.week', 'income',
       'tate', 'Results', 'Model']
Actual = Actual[desired_columns]

KeyError: "['state'] not in index"

In [ ]:
Actual.columns = ['index', 'age', 'workclass', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'sex', 'hours_per_week', 'income',
       'state', 'Results', 'Model']

In [11]:
# Combine the dataframes row-wise
combined_df = pd.concat([combined_df, Actual], ignore_index=True)

In [12]:
combined_df.tail()

,index,age,workclass,education_num,marital_status,occupation,relationship,race,sex,hours_per_week,income,state,Results,Model
56057,22,Private,10,Never-married,Protective-serv,Not-in-family,White,Male,40,<=50K,North Dakota,N/A,N/A,Actual
56058,27,Private,12,Married-civ-spouse,Tech-support,Wife,White,Female,38,<=50K,Texas,N/A,N/A,Actual
56059,40,Private,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,>50K,Colorado,N/A,N/A,Actual
56060,58,Private,9,Widowed,Adm-clerical,Unmarried,White,Female,40,<=50K,Kansas,N/A,N/A,Actual
56061,22,Private,9,Never-married,Adm-clerical,Own-child,White,Male,20,<=50K,New Hampshire,N/A,N/A,Actual

In [13]:
combined_df.to_csv("../Data/mergedDataFrame.csv")